*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

.grid-container {
    display:grid;
    max-width: auto;
    margin: 0 auto;
    height: 100vh;
    gap: 0px;
    grid-template-areas:
        "header header header"
        "main main aside"
        "main main aside"
        "footer footer footer";
    grid-template-rows: 65px auto auto auto;
        
}
.header {
    grid-area: header;
    margin: 20px;
    }

.nav__bgcolor {
    background-color: #050D1F;
}

.title {
    color: #050D1F;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: xx-large;
    }
.subtitle {
    color: #C8F8D6;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-style: italic;
    font-size:large;
    background-color:#050D1F;
    display: inline-block;
    }

.text {
    color: #050D1F;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size:medium;
    display: inline-block;
    margin-top: 20px;
    padding: 50px;
    }

.main {
    grid-area: main;
    width: 100%;
    padding: 50px 100px;
    margin: 50px 20px;
}


.mainAcuerdo {
    width: 100%;
    background-color: #050D1F;
    
}



.main__img {
    width:60%;
    border-radius: 10px;
    margin: 50px;
}


.main__gif {
    width: 250px;
    height: auto;
   

}
.formulario {
    color: #C8F8D6;
    font-size:large;
    text-align: left;
    padding: 100px 20px;
}

.formularioAnf {
    color: #C8F8D6;
    font-size:large;
    text-align: left;
    padding: 100px 20px;
    background-color: #050D1F;
    border-radius: 10px;
}

   
::placeholder {
    color:gray;
}
    
.sectionContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
    flex-direction: column;
    }

.card {
    display: flex;
    flex: wrap;
  }

.card--cajaImg {
    width:500px;
    border-top-left-radius: round;
    }

.imageSize {
    width:100%;
    height: auto;
    border-radius: 15px;
    margin-top:5px;
    margin-left: 50px;
    }

.card--cajaText {
    background-color: #050D1F;
    color: #C9F8D6;
    width: 60%;
    padding:5px 10px;
    border-radius: 20px; 
    }

.aside {
        grid-area: aside;
        padding-top: 30px;
        align-items: center;
        width: 100%;
        justify-content: center;
        justify-items: center;
        background-image: linear-gradient(to bottom, #050D1F, #FF171C);
     
    }

.aside img {
    width: 90%;
    filter: grayscale(1);
    border-radius: 15px;
    border:solid 1px;
    border-color: white;
    margin: 10px 25px 25px 10px;
    }


.aside img:hover {
    filter: saturate(1);
    }

.parallax {    /* ver*/
    background-image: url("../img/moodboard-05.png");
    height: 200px;
    background-attachment: fixed;  
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;   
   }

/* precios*/
   .card1:hover {
    background:#00ffb6;
    border:1px solid #00ffb6;
  }

  .card1:hover .list-group-item{
    background:#00ffb6 !important
  }


  


  .card2:hover {
    background:#00C9FF;
    border:1px solid #00C9FF;
  }

  .card2:hover .list-group-item{
    background:#00C9FF !important
  }


  .card3:hover {
    background:#ff95e9;
    border:1px solid #ff95e9;
  }

  .card3:hover .list-group-item{
    background:#ff95e9 !important
  }


  .card:hover .btn-outline-dark{
    color:white;
    background:#212529;
  }

/* fin precios*/
      
#footer {
    grid-area: footer;
    color: #050D1F;
    align-items: center;
    text-align: center;
    font-size:medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    flex-wrap: wrap;
    background-color: #B4B4AF;
    padding-right: 50px;
    width: 100%;
    border-top-color: #DDDDDD;
    text-decoration: none;
    padding: 10px;
    }

@media screen and (max-width: 468px) {

       .grid-container {
        grid-template-areas:
        "header header header"
        "main main main"
        "aside aside aside"
        "footer footer footer";
        grid-template-rows: 100px auto auto auto;
        gap: 0px;
        }    
   
    
    .main {
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-top: 20px;
        }        
        
    .mainAcuerdo {
        height:100vh;
        }  


     .aside__img {
        padding: 25px;
       }
        

    }
   